.myNotes {
    padding: 0 30px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

/* .allNotes {
    margin: 10px 0;
} */

.myNotes input {
    background-color: #C4CCF0;
    font-family: 'Mali', cursive;
    width: 300px;
    margin: 10px 0;
}

.textNote {
    height: 80px;
}

.saveButton {
    width: 100px;
    height: 40px;
    background-color: #F8CACA;
    font-family: 'Mali', cursive;
    border-radius: 50px;
}