/* .categorie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
} */

/* a:active {
    text-decoration:none;
} */